<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <style>
    body { font-family: Arial; background: #f2f2f2; display: flex; justify-content: center; align-items: center; height: 100vh; }
    .form-box { background: white; padding: 2rem; border-radius: 8px; width: 300px; box-shadow: 0 0 10px rgba(0,0,0,0.1); }
    .form-box input, .form-box button { width: 100%; padding: 0.7rem; margin-top: 0.7rem; border: 1px solid #ccc; border-radius: 4px; }
    .form-box button { background: #007bff; color: white; cursor: pointer; }
    .form-box button:hover { background: #0056b3; }
    .form-box .link { text-align: center; margin-top: 1rem; }
  </style>
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

</head>
<body>
  <form class="form-box" action="/login" method="POST">
    <h2 style="text-align: center;">Login</h2>
    <!-- <input type="text" name="username" placeholder="Username" required> -->
    <input type="email" name="email" placeholder="Email" required>
    <input type="password" name="password" placeholder="Password" required>
    <button type="submit">Login</button>
    <div class="link flex w-full justify-between text-blue-500">
      <p><a href="/signup">Signup here</a></p>
      <p><a href="/forgot">Forgot pass?</a></p>
    </div>
  </form>
</body>
</html>
